.tag-container {
  .tag-box {
    display: inline-block;

    li {
      float: left;
      font-size: $font-size-s;
      line-height: 2em;

      &:before {
        content: none;
      }
    }

    a {
      padding: 3px 7px;
      margin: 2px;
      border: 0.1em solid $text-color;
      border-radius: 4px;

      span {
        font-size: $font-size-xs;
        vertical-align: super;
        color: $text-color;
      }
    }
  }

  .post-list {
    li {
      line-height: 1.5em;

      &:before {
        content: none;
      }

      a {
        color: $text-color;
        display: flex;
        justify-content: space-between;

        &:hover {
          color: $highlight-color;
        }

        span.entry-date {
          float: right;
          text-transform: uppercase;
          font-size: $font-size-s;
          flex-shrink: 0;
        }

        span.entry-title {
          margin-right: 1em;
        }
      }
    }
  }
}
