
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 4rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.talks {
  .talk {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    margin-top: 1em;

    p {
      margin: 0;
      line-height: 1.8em;

      a {
        margin-right: 0.5em;
        font-size: 1.2em;
      }
    }

    .title {
      font-size: 1.4em;
      font-style: italic;
      line-height: 2em;
    }

    p:not(.title) {
      margin-left: 3em;
    }
  }
}
